# Ignore Umbraco folders (Generated folders created by Umbraco)
ClientDependency/
TEMP/
Logs/
Cached/
ExamineIndexes/

# Ignore Umbraco content cache file
umbraco.config
packages/
uTube.Web/bin/
uTube.Web/obj/
uTube/obj/
uTube/bin/

YouTube.Web/bin/
YouTube.Web/obj/
YouTube/obj/
YouTube/bin/

# User-specific files
*.suo
*.user
*.sln.docstates