# Ignore Umbraco folders (Generated folders created by Umbraco)
ClientDependency/
TEMP/
Logs/
Cached/
ExamineIndexes/

# Ignore Umbraco content cache file
umbraco.config
packages/
YouTube.Web/bin/
YouTube.Web/obj/
YouTube/obj/
YouTube/bin/

YouTube.Web/bin/
YouTube.Web/obj/
YouTube/obj/
YouTube/bin/

BuildPackage/Package/*

# User-specific files
*.suo
*.user
*.sln.docstates

*.sdf

NuGetBackup
.vs
*.sdf
