<div class="uTubeChannel" ng-controller="">

    <!-- Search -->
    <div>
        <input type="text" name="textbox" class="umb-editor umb-textstring textstring" placeholder="Search for a video in this channel" />
        <button class="btn"><i class="icon icon-search"></i> Search</button>
    </div>

    <hr/>

    <!-- Video Results -->
    <div class="row-fluid videos">

        <div class="span4">
            <a href="" class="selected">
                <img src="https://i.ytimg.com/vi/uZpUnmuOISQ/mqdefault.jpg" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
        </div>

        <div class="span4">
            <a href="">
                <img src="https://i.ytimg.com/vi/uZpUnmuOISQ/mqdefault.jpg" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
        </div>

        <div class="span4">
            <a href="">
                <img src="https://i.ytimg.com/vi/uZpUnmuOISQ/mqdefault.jpg" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
        </div>
    </div>
    
    <!-- Pagination (Next & Previous only) -->
    <div class="">
        <ul class="pager">
            <li class="previous disabled">
                <a href="#">&larr; Previous</a>
            </li>
            <li class="next">
                <a href="#">Next &rarr;</a>
            </li>
        </ul>
    </div>

    <!-- Saved Videos -->
    <div>
        <h4>Selected Videos</h4>
        <ul>
            <li>Blah x</li>
            <li>Blah y</li>
        </ul>
    </div>
</div>