<div ng-controller="">

    <!-- Search -->
    <div>
        <input type="text" name="textbox" class="umb-editor umb-textstring textstring" placeholder="Search for a video" />
        <button class="btn"><i class="icon icon-search"></i> Search</button>
    </div>

    <!-- Video Results -->
    <div class="row-fluid">

        <div class="span4">
            <a href="">
                <img src="http://placekitten.com/1280/720" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
            <h6>34:23</h6>
        </div>

        <div class="span4">
            <a href="">
                <img src="http://placekitten.com/1280/720" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
            <h6>34:23</h6>
        </div>

        <div class="span4">
            <a href="">
                <img src="http://placekitten.com/1280/720" />
            </a>
            <h5>uHangout EP031 - Pete Duncanson</h5>
            <h6>34:23</h6>
        </div>
    </div>

    <!-- Saved Videos -->
    <div>
        <h4>Selected Videos</h4>
        <ul>
            <li>Blah x</li>
            <li>Blah y</li>
        </ul>
    </div>
</div>