<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.0.0" targetFramework="net451" />
  <package id="ClientDependency" version="1.7.1.2" targetFramework="net451" />
  <package id="ClientDependency-Mvc" version="1.7.0.4" targetFramework="net451" />
  <package id="Google.Apis" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.YouTube.v3" version="1.9.0.1330" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net451" />
  <package id="ImageProcessor" version="1.9.0.0" targetFramework="net451" />
  <package id="ImageProcessor.Web" version="3.2.3.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net451" />
  <package id="UmbracoCms.Core" version="7.1.4" targetFramework="net451" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net451" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" />
</packages>